<h3 class="text-center mb-4">{{ (edit)? 'Editar Empleado': 'Nuevo Empleado'}}</h3>
<hr>
<form class="row g-3" [formGroup]="employeeForm" (submit)="onSubmit()" autocomplete="off">
       <div class="col-md-6">
              <label for="nameId" class="form-label">Nombre</label>
              <input
                     formControlName="name"
                     type="text" class="form-control" id="nameId" placeholder="Nombre del empleado">
              <small
                     *ngIf="showWarning('name')"
                     class="text-muted ms-1"><span class="text-danger">*</span> Se requiere un
                     nombre</small>
       </div>
       <div class="col-md-6">
              <label for="lastNameId" class="form-label">Apellido</label>
              <input
                     formControlName="lastName"
                     type="text" class="form-control" id="lastNameId" placeholder="Apellido del empleado">
              <small
                     *ngIf="showWarning('lastName')"
                     class="text-muted ms-1"><span class="text-danger">*</span> Se requiere un
                     apellido</small>
       </div>
       <div class="col-12">
              <label for="emailId" class="form-label">Email</label>
              <input
                     formControlName="email"
                     type="email" class="form-control" id="emailId" placeholder="Correo del empleado">
              <small
                     *ngIf="showWarning('email')"
                     class="text-muted ms-1"><span class="text-danger">*</span> Se requiere un email
                     valido</small>
       </div>
       <div class="col-12">
              <label for="dateId" class="form-label">Fecha de ingreso</label>
              <input
                     formControlName="startDate"
                     type="date" class="form-control" id="dateId" placeholder="Correo del empleado">
              <small
                     *ngIf="showWarning('startDate')"
                     class="text-muted ms-1"><span class="text-danger">*</span> Se requiere una fecha
                     menor o
                     igual a la de
                     hoy</small>
       </div>
       <hr>
       <div class="col-12 mt-4">
              <button type="submit" class="btn btn-primary">{{ (edit)? 'Editar': 'Agregar'}}</button>
       </div>
</form>



<!-- 
<h5>Form valid</h5>
<pre>{{employeeForm.valid}}</pre>
<h5>Form value</h5>
<pre>{{employeeForm.value | json}}</pre>
<h5>Form Date errors</h5>
<pre>{{employeeForm.controls.startDate.errors | json}}</pre> -->